<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.wochstudios.InfiniteSoundboards"
    xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="9"
	android:versionName="1.09" >
	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:supportsRtl="true"
        >
		<activity
			android:name="com.wochstudios.InfiniteSoundboards.MainActivity"
			android:label="@string/app_name"
            android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name="com.wochstudios.InfiniteSoundboards.SettingsActivity"
			android:label="Preferences"
            android:screenOrientation="portrait"
            android:icon="@drawable/abc_ic_ab_back_mtrl_am_alpha">
		</activity>

		<service android:name="com.wochstudios.InfiniteSoundboards.service.MediaPlayerService" />
		<service android:name="com.wochstudios.InfiniteSoundboards.service.SoundboardWidgetService"
					android:exported="false"
					android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <provider
            android:authorities="com.wochstudios.InfiniteSoundboards"
            android:name="com.wochstudios.InfiniteSoundboards.contentprovider.SoundboardProvider">
        </provider>

		<receiver android:name="com.wochstudios.InfiniteSoundboards.widget.SoundboardWidgetProvider" android:label="Default soundboard">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.wochstudios.inifinitesoundboards.sounboardwidget.PLAY_ACTION"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
		</receiver>

        <instrumentation android:name="android.test.InstrumentationTestRunner"
						 android:targetPackage="com.wochstudios.InfiniteSoundboards"
						 android:label="Tests for My App" />
		</application>
</manifest>
